.home-header {
	position: fixed;
	width: 100%;
	height: 10vh;
	background-color: white;
	overflow: hidden;
	z-index: 29;
	top: 1vh;
	margin-top: 5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.home-header-top {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
.home-input {
	margin-top: 2rem;
	width: 23%;
	display: flex;
	flex-direction: row;
}

.home-search-input:placeholder-shown {
	font-size: 58px;
	text-align: left;
}

.home-search-input::placeholder {
	color: #c4c4c4;
}

.home-search-input {
	width: 70%;
	margin-left: 10px;
	border: none;
	border-bottom: 2px solid #c4c4c4;
	font-size: 30px;
	padding-left: 10px;
}

.home-input > button {
	background-color: white;
	cursor: pointer;
	border: none;
	font-size: 18px;
}

.home-input > button:last-child {
	font-weight: bold;
	cursor: auto;
}

.bottom-main {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding-right: 60px;
	box-sizing: border-box;
	background-color: #e5e5e5;
}

.bottom-main-rev {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	box-sizing: border-box;
	background-color: #333333;
}

.btn-bottom-main {
	width: 35px;
	height: 35px;
	border: 1px solid #a04955;
	margin: 10px;
	text-align: center;
	font-size: 20px;
	box-sizing: border-box;
	cursor: pointer;
	color: #a04955;
	padding: 5px;
	background-color: #f1f1f1;
}

.btn-bottom-main:hover {
	transform: scale(1.1);
}

.active {
	color: white;
	background-color: #a04955;
}

.btn-bottom-main > img {
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
}


@media screen and (max-width: 900px) {
	.home-header {
		height: 16vh;
	}

	.home-header-top {
		flex-direction: column;
		align-items: flex-start;
	}

	.home-input > button {
		font-size: 0.8rem;
	}
}
