.shorts-page {
	width: 100%;
	margin-top: 17vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
}

.shorts-total {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.shorts-image {
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.big-images {
	width: 60%;
	height: 65%;
	box-sizing: border-box;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	flex-direction: row;
	align-content: stretch;
	justify-content: center;
}

.big-images > img {
	width: 100%;
}

.small-images {
	height: 30%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: nowrap;
}

.small-image-div {
	width: 40%;
	height: 70%;
	border: 1px solid #333333;
	margin: 0px 1rem;
	padding: 0.8rem;
	box-sizing: border-box;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	align-content: center;
	overflow: hidden;
}

.image-active {
	border: 2px solid #b93b54;
}

.small-image-div > img {
	width: 70%;
}

.shorts-card {
	width: 47%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
}

.card-title {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin: 0.7rem 0;
}

.card-product-title {
	font-size: 3rem;
}

.card-span {
	padding: 0 0 0.5rem 1rem;
	font-size: 1rem;
}

.div-circle {
	width: 55%;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
}

.circle {
	width: 25px;
	height: 25px;
	background-color: #8080809e;
	clip-path: polygon(50% 0%, 64% 30%, 98% 35%, 75% 61%, 79% 91%, 50% 75%, 21% 91%, 25% 59%, 2% 35%, 34% 30%);
}

.circle.active-circle {
	background-color: #ffcc48;
}

.reviews-span {
	margin-left: 2rem;
	font-size: 1rem;
}

.product-color-card {
	display: flex;
}

.product-size-card {
	display: flex;
}

.short-color-select {
	width: 2rem;
	height: 2rem;
	margin: 0.7rem 0.7rem 0.7rem 0;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	cursor: pointer;
}

.short-size-select {
	width: 2.6rem;
	height: 2rem;
	margin: 0.7rem 0.7rem 0.7rem 0;
	border: 1px solid #c4c4c4;
	text-align: center;
	padding: 0.3rem;
	box-sizing: border-box;
	cursor: pointer;
}

.div-cart-input {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.sale-btn {
	background-color: #b93b54;
	color: white;
	width: 100%;
	height: 3rem;
	font-weight: lighter;
	font-size: 1.3rem;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #b93b54;
	margin: 0.5rem 0;
	padding-left: 4rem;
	box-sizing: border-box;
}

.heart {
	background-color: white;
	color: #b93b54;
	cursor: pointer;
	padding: 0 2rem;
	border: 1px solid rgb(119, 116, 116);
}

.sale-input {
	position: relative;
	width: 48%;
}

.bags {
	position: absolute;
	top: 15%;
	left: 15%;
	width: 10%;
}

.heart + img {
	top: 22%;
	left: 5%;
}

.span-price {
	font-size: 1.1rem;
	margin: 0.7rem 0;
}

.sale-price {
	font-size: 2rem;
	margin: 0.7rem 0.7rem 0.7rem 0;
}

.worry {
	width: 60%;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
	color: #333333;
	border-bottom: 1px solid #b93b54;
}

.free-shop {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 140px;
	background-color: #fafafa;
}

.free-icon-img {
	display: flex;
	flex-direction: row;
}

.free-car {
	width: 45%;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	box-sizing: border-box;
	justify-content: space-between;
}

.free-car :nth-child(1) {
	width: 30%;
	position: relative;
}

.free-car :nth-child(1) > img {
	width: 70%;
}

.free-car :nth-child(2) {
	width: 65%;
}

.free {
	position: absolute;
	top: 26px;
	left: 5px;
	font-size: 11px;
}

.turn {
	position: absolute;
	width: 30%;
	top: 55px;
	left: 5px;
}

.turn > img {
	width: 100%;
}

.details {
	width: 100%;
	height: 100vh;
}

.details > h2 {
	text-align: center;
	color: #333333;
}

.details-block {
	padding: 40px 90px;
	width: 70%;
	margin: 0 auto;
	background-color: #fafafa;
}

.details-content {
	width: 80%;
	margin: 45px auto;
	color: #333333;
	line-height: 25px;
}

.details-content ul {
	margin: 30px 20px;
}

.divv {
	width: 30px;
	height: 30px;
}

.divv img {
	width: 100%;
}

.ul {
	display: flex;
	list-style: none;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	padding: 0;
}

.ul li {
	margin: 0 20px 0 0;
}


@media screen and (max-width: 900px) {
	.shorts-total {
		flex-direction: column;
	}

	.shorts-page {
		margin-top: 25vh;
		height: 140vh;
	}

	.shorts-image {
		margin: 0 auto;
	}
	.shorts-card {
		width: 80%;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: nowrap;
		margin: 0 auto;
	}

	.details {
		height: 55vh;
	}

	.details-content {
		width: 100%;
	}

	.card-product-title {
		font-size: 2rem;
	}

	.sale-btn {
		font-weight: lighter;
		font-size: 0.8rem;
	}

	.bags {
		position: absolute;
		top: 26%;
		left: 12%;
		width: 15%;
	}

	.heart + img {
		position: absolute;
		top: 30%;
		left: 4%;
		width: 15%;
	}

	.worry {
		width: 90%;
		height: 2rem;
	}

	.free-shop {
		height: 10rem;
	}

	.free-icon-img {
		flex-direction: column;
	}

	.free-car {
		width: 88%;
		flex-direction: row;
	}

	.details {
		width: 100%;
		height: 100vh;
		margin-top: 3rem;
	}

	.details-block {
		padding: 0.8rem;
		width: 90%;
	}

	.details-content {
		width: 100%;
		line-height: 1rem;
	}
}
