body {
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	min-width: 900px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.main {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.stick {
	width: 100%;
	height: 6rem;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 30;
	box-sizing: border-box;
}

.header-top {
	width: 93%;
	padding-top: 0.25rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	flex-wrap: nowrap;
	position: relative;
}

.div-logo {
	width: 20%;
}

.div-logo img {
	width: 100%;
}

.div-nav {
	width: 45%;
	display: flex;
	justify-content: space-evenly;
	box-sizing: border-box;
	padding: 0.2rem;
}

.icon-navi,
.icon-search-bar {
	width: 2rem;
	height: 2rem;
	padding-top: 0.3rem;
	display: none;
	cursor: pointer;
}

.close-navi,
.close-search-bar {
	width: 2rem;
	height: 2rem;
	padding-top: 0.3rem;
	display: none;
	margin: 0 0.5rem;
	font-size: 1.5rem;
	cursor: pointer;
}

.icon-navi img,
.icon-search-bar img {
	width: 100%;
}

.search {
	position: relative;
	box-sizing: border-box;
	width: 25%;
	height: 3rem;
}

.search > img {
	position: absolute;
	top: 25%;
	left: 8%;
	cursor: pointer;
	box-sizing: border-box;
}

.search-input:placeholder-shown {
	text-align: right;
	font-size: 0.8rem;
	box-sizing: border-box;
}

.nav {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	width: 90%;
	box-sizing: border-box;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.nav-item:hover {
	text-decoration: underline;
	transform: scale(1.1);
}

.nav a {
	text-decoration: none;
	font-size: 110%;
	color: #333333;
	box-sizing: border-box;
}

.search-input {
	width: 100%;
	height: 70%;
	border-radius: 20px;
	border: 1px solid #a04955;
	margin-top: 2%;
	font-size: 1rem;
	padding-left: 60px;
	box-sizing: border-box;
}

.btn-fixed {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	position: fixed;
	cursor: pointer;
	bottom: 9rem;
	right: 9rem;
	background-color: #a04955;
	border: 1px solid #a04955;
	z-index: 10;
	opacity: 0.5;
	box-sizing: border-box;
}

.btn-fixed:hover {
	opacity: 1;
}

.div-cart {
	width: 4%;
	padding-top: 0.3rem;
	display: flex;
	position: relative;
	cursor: pointer;
}

.div-cart button {
	width: 80%;
}

.cart-check {
	width: 45%;
	height: 45%;
	position: absolute;
	padding-top: 0.2rem;
	color: white;
	font-size: 0.8rem;
	border-radius: 50%;
	background-color: red;
	top: 0;
	left: 0;
	text-align: center;
	box-sizing: border-box;
}

.div-cart img {
	width: 70%;
}

.cart-btn {
	background-color: white;
	border: none;
}

.modal {
	width: 80%;
	min-height: 40%;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	background-color: rgb(237, 231, 231);
	padding: 1rem;
}

.parent {
	position: sticky;
	top: 10vh;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.1);
	justify-content: center;
	align-items: center;
	z-index: 50;
	display: none;
	overflow: auto;
}

.active-modal {
	display: flex;
	height: 90vh;
	width: 100vw;
	align-items: center;
	align-content: stretch;
	justify-content: center;
	flex-wrap: wrap;
}

.modal-title {
	display: flex;
	justify-content: space-between;
}

.modal-title > span {
	cursor: pointer;
}

.modal-cart-size {
	width: 10%;
	font-size: 1.3rem;
}

.modal-cart-color {
	width: 10%;
	height: 100%;
}

.cart-btn > div {
	width: 49px;
	height: 10px;
	border: 1px solid;
	background-color: red;
	border-radius: 50%;
}

.modal-cart-total {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.modal-cart-point {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.modal-cart {
	width: 100%;
	height: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	margin: 0.3rem;
}

.modal-cart-img {
	width: 10%;
	height: 80%;
	margin: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.modal-cart-img > img {
	width: 60%;
}

.modal-cart-title {
	width: 25%;
	text-align: center;
	font-size: 1.2rem;
	margin: 0.5rem;
	padding: 1rem;
}

.modal-cart-count {
	width: 30%;
	display: flex;
	flex-direction: row;
	margin: 0.5rem;
	width: 10%;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}

.modal-cart-price {
	width: 10%;
	text-align: center;
	font-size: 20px;
}

.modal-cart button {
	background-color: white;
	cursor: pointer;
	border: 1px solid antiquewhite;
}

.modal-cart-count button {
	background-color: antiquewhite;
	width: 2rem;
	height: 2rem;
	font-size: 20px;
}

.modal-price-total {
	width: 45%;
	margin-top: 0.5rem;
	height: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
}

.modal-price-total input {
	width: 60%;
	height: 80%;
	border: none;
	border-bottom: 1px solid gray;
}

.modal-bottom {
	display: flex;
	width: 100%;
	height: 3rem;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin-top: 0.5rem;
}

.modal-bottom input {
	width: 45%;
	height: 100%;
	font-size: 30px;
	background-color: #93dce5;
	color: black;
	border-radius: 10px;
	cursor: pointer;
	border: 1px solid #93dce5;
}

.cart-empty {
	font-size: 1.5rem;
}

.cart-bottom {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#price-total {
	font-size: 1.5rem;
	text-align: center;
	width: 250px;
	height: 34px;
	border: 1px solid black;
}

.parent-two {
	position: sticky;
	top: 10vh;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.01);
	justify-content: center;
	align-items: center;
	z-index: 50;
	display: none;
	height: 90vh;
	width: 100vw;
}

.modal-two {
	width: 30%;
	min-height: 30%;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	background-color: rgb(198 245 231);
	border-radius: 15px;
	padding: 1rem;
}

.buttons {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}

.modal-two div {
	font-size: 2rem;
}

.buttons > button {
	width: 45%;
	height: 3rem;
	border-radius: 10px;
	background-color: #3cab3c;
	font-size: 1rem;
	color: white;
	border: 1px solid #3cab3c;
	cursor: pointer;
}

.parent-three {
	position: sticky;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0 0 0 / 0%);
	justify-content: center;
	align-items: center;
	z-index: 50;
	display: none;
	height: 100vh;
	width: 100vw;
}


@media screen and (max-width: 900px) {
	body {
		min-width: 350px;
		max-width: 750px;
	}

	.div-nav {
		top: 0;
		position: absolute;
		left: 0;
		margin: 0;
		width: 90%;
		justify-content: space-between;
		z-index: 10;
		background-color: #808080b5;
		display: none;
		height: 100vh;
	}

	.div-nav.active-nav {
		display: flex;
		height: 100vh;
	}

	.nav {
		list-style: none;
		box-sizing: border-box;
		display: block;
		padding: 1.5rem;
		background-color: white;
		width: 80%;
	}

	.icon-navi,
	.icon-search-bar {
		display: block;
		width: 2rem;
		height: 2rem;
		padding-top: 0.3rem;
		cursor: pointer;
	}

	.icon-navi.active,
	.icon-search-bar.active-search-bar {
		display: none;
	}

	.close-navi {
		display: block;
	}

	.close-search-bar.active-close-bar {
		display: block;
	}

	.nav li {
		margin: 2rem 0;
		font-size: 1.5rem;
	}

	.search {
		width: 40%;
	}

	.modal-two {
		width: 80%;
	}

	.modal {
		min-height: 80%;
		justify-content: flex-start;
	}

	.active-modal {
		height: 100vh;
	}

	.modal-cart {
		display: grid;
		grid-template-columns: 2fr 3fr 2fr 1fr;
		grid-template-rows: 4fr 2fr;
		height: 10rem;
		gap: 0.3rem;
	}

	.modal-cart-img {
		width: 90%;
		height: 80%;
		margin: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.modal-cart-title {
		grid-column: 2/4;
		width: 90%;
		text-align: center;
		font-size: 1rem;
		margin: 0;
		padding: 0.5rem;
	}

	.modal-cart-count {
		width: 80%;
		font-size: 1rem;
	}

	.cart-bottom {
		align-items: center;
	}

	.modal-price-total {
		width: 60%;
	}

	#price-total {
		width: 10rem;
	}

	.modal-bottom input {
		width: 100%;
		margin: 0.5rem;
	}

	.modal-bottom {
		flex-direction: column;
	}

	.div-cart {
		width: 10%;
	}

	.cart-check {
		width: 40%;
		height: 40%;
		padding: 0.2rem;
	}
}
