.container-shorts {
	width: 100%;
	margin-top: 10rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	background-color: #e5e5e5;
}

.search-bar {
	width: 100%;
	margin-top: 10px;
	border: 1px solid #a04955;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	background-color: white;
	box-sizing: border-box;
}

.search-bar-total {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	width: 23%;
}

.search-bar > .head-select:nth-child(1) {
	border-top: none;
}

.head-select {
	width: 80%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #a04955;
	box-sizing: border-box;
}

.body-select {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	box-sizing: border-box;
}

.size-select,
.color-select {
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	margin: 6px 7px;
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer;
}

.size-select {
	background-color: #f1f1f1;
}

.color-select {
	border: 1px solid #bcbccc;
}

.active-select {
	border: 1px solid gray;
}

.bottoms-select {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 10px 0;
	font-size: 20px;
}

.bottoms-select > input {
	margin-right: 15px;
}

.product-list {
	position: relative;
	width: 70%;
	height: 300vh;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.product-grid {
	position: absolute;
	top: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 2fr 2fr 2fr 2fr;
	justify-items: center;
	gap: 10px;
	box-sizing: border-box;
}

.card {
	width: 80%;
	height: 30rem;
	margin: 10px auto;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-evenly;
	align-items: center;
	padding: 1.5rem;
	color: #333333;
	box-shadow: 7px 4px 8px 0px gray;
	cursor: pointer;
}

.card:hover {
	transform: scale(1.05);
	transition: all 0.3s;
}

.product-top-total {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-card-img {
	width: 100%;
	text-align: center;
	margin: 0 2%;
}

.product-card-img > img {
	width: 90%;
}

.card-title {
	font-weight: bold;
	font-size: 1.1rem;
	margin: 2%;
}

.sale {
	font-weight: lighter;
	font-size: 1.4rem;
}

.sale-price {
	font-weight: bold;
	font-size: 1.4rem;
}

.sale-btn,
.product-btn {
	background-color: #a04955;
	color: white;
	width: 12rem;
	height: 3rem;
	font-weight: lighter;
	font-size: 1.3rem;
	text-align: right;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #a04955;
}

.sale-input {
	position: relative;
}

.bags {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 15%;
}

.div-circle {
	width: 55%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}

.circle {
	width: 25px;
	height: 25px;
	background-color: #8080809e;
	clip-path: polygon(50% 0%, 64% 30%, 98% 35%, 75% 61%, 79% 91%, 50% 75%, 21% 91%, 25% 59%, 2% 35%, 34% 30%);
}

.circle.active-circle {
	background-color: #ffcc48;
}

.product-color-card {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	width: 60%;
	height: 70px;
}

.short-color-select {
	width: 20px;
	height: 20px;
	margin: 5px;
	border: 1px solid #bcbccc;
}

.reset-btn {
	cursor: pointer;
	border: 1px solid #a04955;
	width: 100%;
	height: 2.5rem;
	font-size: 1.3rem;
	background-color: #a04955;
	color: white;
	border-radius: 5px;
}

.reset-btn:hover {
	transform: scale(1.1);
}


@media screen and (max-width: 900px) {
	.container-shorts {
		flex-direction: column;
		margin-top: 15rem;
	}

	.search-bar-total {
		width: 90%;
		padding: 0.3rem 0.6rem;
	}

	.search-bar {
		display: none;
		width: 90%;
	}

	.search-bar.active-bar {
		display: flex;
	}

	.product-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 610vh;
		margin: 0.5rem auto;
	}

	.product-grid {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
