.reviews {
	max-width: 100%;
	height: 800px;
	border: 1px solid black;
	background-color: #333333;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.reviews > h2 {
	color: white;
	font-size: 48px;
	text-align: center;
}

.user-content {
	max-width: 100%;
	height: 115vh;
	padding: 5rem;
	margin: 1rem 0;
}

.user-box {
	background-color: #fafafa;
	text-align: center;
	padding: 1rem;
}

.one {
	color: #a04955;
	font-size: 30px;
	margin: 0.5rem auto;
}

.two {
	font-size: 36px;
	color: #333333;
	margin: 0.5rem auto;
}

.three {
	font-size: 24px;
	color: #333333;
	margin: 0.5rem auto;
}

.your-rate {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 22rem;
	margin: 1rem auto;
	box-sizing: border-box;
}

.your-rate div {
	font-size: 24px;
	color: #333333;
}

.user-review-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 3fr 1fr;
	gap: 20px;
	box-sizing: border-box;
	font-size: 1.4rem;
}

.user-review-grid > input {
	font-size: 1.4rem;
}

.user-review-grid :nth-child(3) {
	grid-column: 1/3;
	height: 200px;
	width: 100%;
	font-size: 1.4rem;
}

.user-review-grid :nth-child(4) {
	grid-column: 1/3;
	width: 250px;
	height: 50px;
	justify-items: stretch;
	align-items: stretch;
	background-color: #a04955;
	border: 1px solid #a04955;
	font-size: 24px;
	color: white;
	margin: auto;
	cursor: pointer;
}

.user-review-grid > input:placeholder-shown,
textarea:placeholder-shown {
	font-size: 1.2rem;
}

.your-circle-rate {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem;
	padding: 0.5rem;
	box-sizing: border-box;
}

.div-circle-rew {
	width: 60%;
	box-sizing: border-box;
}

.circle-div-rew {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
}

.circle-rew {
	font-size: 3rem;
	color: #333333;
	background-color: unset;
	border: none;
	cursor: pointer;
}

.circle-rew.active {
	color: #ffcc48;
}

.all-total {
	width: 100%;
	height: 80vh;
	margin: 1rem 0;
	padding: 0.5rem;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.total {
	background-color: white;
	width: 30%;
	height: 45%;
	margin: 0.5rem;
	border-radius: 20px;
	display: flex;
	padding: 0.5rem;
}

.left {
	width: 25%;
	height: 90%;
	margin-right: 0.5rem;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	font-size: 14px;
}

.right {
	width: 65%;
	height: 90%;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 12px;
}

.circle-comment {
	width: 100%;
}

.circle-comment img {
	width: 100%;
}

.left-title {
	display: flex;
	flex-direction: column;
	height: 20%;
	justify-content: space-around;
}

.users-reviews-total {
	width: 100%;
	height: 100%;
	margin-top: 1.5rem;
}

.users-reviews {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
	width: 100%;
	height: 90%;
}


@media screen and (max-width: 900px) {
	.reviews {
		max-width: 100%;
		height: 200vh;
		padding: 40px;
		align-items: center;
		justify-content: center;
	}

	.user-box {
		width: 80%;
	}

	.users-reviews {
		display: grid;
		gap: 0.3rem;
		align-content: center;
		align-items: center;
	}

	.total {
		width: 95%;
		height: 90%;
	}

	.user-content {
		height: 115vh;
		padding: 1rem;
		margin: 1rem 0;
	}

	.your-rate {
		width: 90%;
		height: 50vh;
		flex-wrap: nowrap;
		justify-content: center;
	}

	.one {
		font-size: 1.3rem;
	}

	.two {
		font-size: 1.8rem;
	}

	.three {
		font-size: 1rem;
	}

	.user-review-grid {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.user-review-grid > input {
		width: 90%;
	}

	.user-review-grid :nth-child(3) {
		height: 9rem;
	}
}
